Serveur/ProjetBike/RoutingServer/Connected Services/ProxyCache/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ProxyCacheServeur" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
  <xs:element name="getStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCacheServeur" minOccurs="0" name="getStationsResult" nillable="true" type="q1:ArrayOfJCDecaux_Json_Model.BikeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClosestStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Device.Location" minOccurs="0" name="geoCoordinate" nillable="true" type="q2:GeoCoordinate" />
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkAvailabity" type="xs:boolean" />
        <xs:element minOccurs="0" name="checkCapacity" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClosestStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProxyCacheServeur" minOccurs="0" name="getClosestStationResult" nillable="true" type="q3:JCDecaux_Json_Model.BikeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsFromAContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationsFromAContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProxyCacheServeur" minOccurs="0" name="getStationsFromAContractResult" nillable="true" type="q4:ArrayOfJCDecaux_Json_Model.BikeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>