Serveur/ProjetBike/RoutingServer/Connected Services/ProxyCache/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProxyCacheServeurService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ProxyCacheServeur" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Device.Location" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxyCacheServeurService_getStations_InputMessage">
    <wsdl:part name="parameters" element="tns:getStations" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheServeurService_getStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheServeurService_getClosestStation_InputMessage">
    <wsdl:part name="parameters" element="tns:getClosestStation" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheServeurService_getClosestStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getClosestStationResponse" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheServeurService_getStationsFromAContract_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationsFromAContract" />
  </wsdl:message>
  <wsdl:message name="IProxyCacheServeurService_getStationsFromAContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsFromAContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxyCacheServeurService">
    <wsdl:operation name="getStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCacheServeurService/getStations" message="tns:IProxyCacheServeurService_getStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCacheServeurService/getStationsResponse" message="tns:IProxyCacheServeurService_getStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getClosestStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCacheServeurService/getClosestStation" message="tns:IProxyCacheServeurService_getClosestStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCacheServeurService/getClosestStationResponse" message="tns:IProxyCacheServeurService_getClosestStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationsFromAContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxyCacheServeurService/getStationsFromAContract" message="tns:IProxyCacheServeurService_getStationsFromAContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxyCacheServeurService/getStationsFromAContractResponse" message="tns:IProxyCacheServeurService_getStationsFromAContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxyCacheServeurService" type="tns:IProxyCacheServeurService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getStations">
      <soap:operation soapAction="http://tempuri.org/IProxyCacheServeurService/getStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClosestStation">
      <soap:operation soapAction="http://tempuri.org/IProxyCacheServeurService/getClosestStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationsFromAContract">
      <soap:operation soapAction="http://tempuri.org/IProxyCacheServeurService/getStationsFromAContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxyCacheServeurService">
    <wsdl:port name="BasicHttpBinding_IProxyCacheServeurService" binding="tns:BasicHttpBinding_IProxyCacheServeurService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProxyCacheServeur/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>